<template>
  <b-container fluid class="pr-5 pl-5">
    <b-row class="mt-3">
      <b-col xl="2">
        <b-button variant="success" class="mr-5" @click="OpenModal({}, 3)">
          <b-icon icon="plus-square" /> {{$t('create_category')}}
        </b-button>
      </b-col>
      <b-modal :id="'category-create'" size="lg" :title="$t('create_category')">
        <b-form @submit="Send_category">
          <b-form-group
            id="input-Title"
            :label="$t('title')+':'"
            label-for="title"
          >
            <b-form-input
              id="input-Title"
              v-model="name"
              :disabled="view==true"
              :placeholder="$t('title_label')"
              type="text"
              required
            />
          </b-form-group>
          <b-form-group id="input-group-3" :label="$t('images')+':'" label-for="input-3">
            <b-container fluid>
              <b-row class="mt-4">
                <b-col col lg="4" sm="12" cols="12">
                  <b-img :src="image" fluid alt="Responsive image" />
                </b-col>
                <b-col col lg="8" sm="12" cols="12">
                  <b-textarea
                    id="input-url"
                    v-model="image"
                    :disabled="view==true"
                    type="text"
                    required
                  />
                </b-col>
              </b-row>
            </b-container>
          </b-form-group>
          <b-button v-if="view==false" type="submit" variant="success" class="float-right">
            {{ $t('create_category') }}
          </b-button>
        </b-form>
        <template #modal-footer={cancel}>
          <b-button variant="danger" @click="cancel()">
            {{$t('cancel')}}
          </b-button>
        </template>
      </b-modal>
      <b-col xl="10">
        <b-container fluid>
          <b-row>
            <b-col xl="2">
              <b-input-group>
                <template #append>
                  <b-input-group-text>
                    <b-icon icon="search" />
                  </b-input-group-text>
                </template>
                <b-form-input v-model="search" :placeholder="$t('name')" />
              </b-input-group>
            </b-col>
          </b-row>
        </b-container>
      </b-col>
    </b-row>
    <b-row class="mt-2">
      <b-table striped hover :items="filter_category" :fields="fields">
        <template #head(name)>{{ $t('name') }}</template>
        <template #cell(category)="rowContent">
          {{rowContent.item.category.name}}
        </template>
        <template #cell(options)="rowContent">
          <b-button @click="OpenModal(rowContent.item, 0)" variant="warning">
            <b-icon icon="pencil-square" />
          </b-button>
          <b-button variant="danger" @click="Delete(rowContent.item.id)">
            <b-icon icon="trash" />
          </b-button>
          <b-button variant="info" @click="OpenModal(rowContent.item, 1)">
            <b-icon icon="eye" />
          </b-button>
          <b-modal :id="'category-' + rowContent.item.id" size="lg" :title="rowContent.item.name">
            <b-form @submit="onSubmit">
              <b-form-group
                id="input-Name"
                :label="$t('name')+':'"
                label-for="input-Name"
              >
                <b-form-input
                  id="input-Name"
                  :placeholder="$t('name_placeholder')"
                  v-model="name"
                  :disabled="view==true"
                  type="text"
                  required
                />
              </b-form-group>

              <b-form-group id="input-group-3" :label="$t('images') + ':'" label-for="input-3">
                <b-container fluid>
                  <b-row class="mt-4">
                    <b-col col lg="4" sm="12" cols="12">
                      <b-img :src="image" fluid alt="Responsive image" />
                    </b-col>
                    <b-col col lg="8" sm="12" cols="12">
                      <b-textarea
                        id="input-url"
                        v-model="image"
                        :disabled="view==true"
                        type="text"
                        required
                      />
                    </b-col>
                  </b-row>
                </b-container>
              </b-form-group>

              <b-button v-if="view==false" type="submit" variant="success" class="float-right">{{ $t('update_category') }}</b-button>
            </b-form>
            <template #modal-footer={cancel}>
              <b-button @click="cancel()" variant="danger">
                {{$t('cancel')}}
              </b-button>
            </template>
          </b-modal>
        </template>
      </b-table>
    </b-row>
  </b-container>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
import Alerts from '~/helpers/Alerts'
export default Vue.extend({
  data () {
    return {
      view: false,
      id: '',
      name: '',
      image: '',
      search: '',
      fields: [
        {
          key: 'name',
          label: 'Name'
        },
        {
          key: 'options',
          label: ''
        }
      ]
    }
  },
  computed: {
    ...mapGetters('category', {
      categories: 'Getcategories'
    }),
    filter_category () {
      return this.categories.filter((x: any) => { return x.name.toLowerCase().includes(this.search.toLocaleLowerCase()) })
    }
  },
  mounted () {
    this.Get_All_categories()
  },
  methods: {
    ...mapActions('category', {
      Get_All_categories: 'Get_All_categories',
      Update_category: 'Update_category',
      Delete_category: 'Delete_category',
      Create_category: 'Create_category'
    }),
    OpenModal: function (item : any, option: number) {
      switch (option) {
        case 0:
          this.view = false
          this.id = item.id
          this.name = item.name
          this.image = item.image
          this.$bvModal.show('category-' + item.id)
          break
        case 1:
          this.view = true
          this.id = item.id
          this.name = item.name
          this.image = item.image
          this.$bvModal.show('category-' + item.id)
          break
        case 3:
          this.view = false
          this.id = ''
          this.name = ''
          this.image = ''
          this.$bvModal.show('category-create')
          break
      }
    },
    onSubmit: function (e: Event) {
      e.preventDefault()
      this.Update_category({
        id: this.id,
        name: this.name,
        image: this.image
      }).then((result) => {
        if (result === 200) {
          Alerts.success('Updated')
          this.Get_All_categories({})
          this.$bvModal.hide('category-' + this.id)
        }
      })
    },
    Send_category: function (e: Event) {
      e.preventDefault()
      this.Create_category({
        name: this.name,
        image: this.image
      }).then((result) => {
        if (result === 201) {
          Alerts.success('Category created')
          this.Get_All_categories({})
          this.$bvModal.hide('category-create')
        }
      })
    },
    Delete: function (id: number) {
      Alerts.question(this.$t('message_delete'), this.$t('cancel'), this.$t('confirm')).then((result: string) => {
        if (result === 'OK') {
          this.Delete_category({ id }).then((result2: boolean) => {
            if (result2) {
              Alerts.success('Successfully deleted')
              this.Get_All_categories({})
            }
          })
        }
      })
    }
  }
})
</script>
