<template>
  <b-container fluid class="pr-5 pl-5">
    <b-row class="mt-3">
      <b-col xl="2">
        <b-container fluid>
          <b-button variant="success" @click="OpenModal({}, 3)">
            <b-icon icon="plus-square" /> {{ $t('create_product') }}
          </b-button>
        </b-container>
      </b-col>
      <b-modal :id="'products-create'" size="lg" :title="$t('create_product')">
        <b-form @submit="Send_product">
          <b-form-group
            id="input-Title"
            :label="$t('title')+':'"
            label-for="title"
          >
            <b-form-input
              id="input-Title"
              v-model="title"
              :disabled="view==true"
              :placeholder="$t('title_label')"
              type="text"
              required
            />
          </b-form-group>
          <b-form-group
            id="input-group-1"
            :label="$t('price')+':'"
            label-for="input-price"
          >
            <b-form-input
              id="input-price"
              v-model="price"
              :disabled="view==true"
              :placeholder="$t('price_label')"
              type="number"
              required
            />
          </b-form-group>
          <b-form-group id="input-group-2" :label="$t('description')+':'" label-for="input-description">
            <b-textarea
              id="input-description"
              v-model="description"
              :disabled="view==true"
              :placeholder="$t('descripcion_label')"
              required
            />
          </b-form-group>
          <b-form-group id="input-group-3" :label="$t('images')+':'" label-for="input-3">
            <b-container fluid>
              <b-row class="justify-content-end">
                <b-button v-if="view==false" variant="success" @click="Add_Del(0, 0)" >
                  <b-icon icon="plus-square" />
                </b-button>
              </b-row>
              <b-row v-for="(index) in images.length" :key="index" class="mt-4">
                <b-col col lg="4" sm="12" cols="12">
                  <b-img :src="images[index-1]" fluid alt="Responsive image" />
                </b-col>
                <b-col col lg="7" sm="12" cols="12">
                  <b-textarea
                    id="input-url"
                    v-model="images[index-1]"
                    :disabled="view==true"
                    type="text"
                    required
                  />
                </b-col>
                <b-col col lg="1" sm="12" cols="12">
                  <b-button v-if="view==false" class="mt-2 text-center" variant="danger" @click="Add_Del(1, index-1)">
                    <b-icon icon="trash"/>
                  </b-button>
                </b-col>
              </b-row>
            </b-container>
          </b-form-group>
          <b-form-group
            id="input-group-4"
            :label="$t('category')+':'"
            label-for="input-category"
          >
            <b-form-select v-model="category" :disabled="view==true">
              <template #first>
                <b-form-select-option :value="{}" disabled>
                  {{ $t('select_category' )}}
                </b-form-select-option>
              </template>
              <b-form-select-option v-for="(item,index) in categories" :key="index" :value="item">
                {{ item.name }}
              </b-form-select-option>
            </b-form-select>
          </b-form-group>
          <b-button v-if="view==false" type="submit" variant="success" class="float-right">
            {{ $t('create_product') }}
          </b-button>
        </b-form>
        <template #modal-footer={cancel}>
          <b-button @click="cancel()" variant="danger">
            {{$t('cancel')}}
          </b-button>
        </template>
      </b-modal>
      <b-col xl="10">
        <b-container fluid>
          <b-row>
            <b-col xl="2" class="mt-2">
              <b-form-input v-model="filter_title" :placeholder="$t('title')" />
            </b-col>
            <b-col xl="2" class="mt-2">
              <b-form-input v-model.number="filter_price_min" :placeholder="$t('min-price')" />
            </b-col>
            <b-col xl="2" class="mt-2">
              <b-form-input v-model.number="filter_price_max" :placeholder="$t('max-price')" />
            </b-col>
            <b-col xl="2" class="mt-2">
              <b-form-select v-model="filter_category">
                <template #first>
                  <b-form-select-option :value="''" disabled>
                    {{$t('select_category')}}
                  </b-form-select-option>
                </template>
                <b-form-select-option v-for="(item,index) in categories" :key="index" :value="item.id">
                  {{ item.name }}
                </b-form-select-option>
              </b-form-select>
            </b-col>
            <b-col xl="2" class="mt-2">
              <b-button @click="Filter">
                <b-icon icon="filter" />{{$t('filter_label_2')}}
              </b-button>
              <b-button variant="danger" @click="Delete_Filter">
                {{$t('filter_label')}}
              </b-button>
            </b-col>
          </b-row>
        </b-container>
      </b-col>
    </b-row>
    <b-row class="mt-2">
      <b-table striped hover :items="products" :fields="fields">
        <template #head(title)>{{ $t('title') }}</template>
        <template #head(price)>{{ $t('price') }}</template>
        <template #head(creationAt)>{{ $t('creation_at') }}</template>
        <template #head(updatedAt)>{{ $t('updated_at') }}</template>
        <template #head(category)>{{ $t('category') }}</template>

        <template #cell(category)="rowContent">
          {{rowContent.item.category.name}}
        </template>
        <template #cell(options)="rowContent">
          <b-button @click="OpenModal(rowContent.item, 0)" variant="warning">
            <b-icon icon="pencil-square" />
          </b-button>
          <b-button variant="danger" @click="Delete(rowContent.item.id)">
            <b-icon icon="trash" />
          </b-button>
          <b-button variant="info" @click="OpenModal(rowContent.item, 1)">
            <b-icon icon="eye" />
          </b-button>
          <b-modal :id="'products-' + rowContent.item.id" size="lg" :title="rowContent.item.title">
            <b-form @submit="onSubmit">
              <b-form-group
                id="input-Title"
                :label="$t('title')+':'"
                label-for="title"
              >
                <b-form-input
                  id="input-Title"
                  :placeholder="$t('title_label')"
                  v-model="title"
                  :disabled="view==true"
                  type="text"
                  required
                />
              </b-form-group>

              <b-form-group
                id="input-group-1"
                :label="$t('price')+':'"
                label-for="input-price"
              >
                <b-form-input
                  id="input-price"
                  v-model="price"
                  :placeholder="$t('price_label')"
                  :disabled="view==true"
                  type="number"
                  required
                />
              </b-form-group>

              <b-form-group id="input-group-2" :label="$t('description')+':'" label-for="input-description">
                <b-textarea
                  id="input-description"
                  v-model="description"
                  :disabled="view==true"
                  :placeholder="$t('descripcion_label')"
                  required
                />
              </b-form-group>
              <b-form-group id="input-group-3" :label="$t('images') + ':'" label-for="input-3">
                <b-container fluid>
                  <b-row class="justify-content-end">
                    <b-button v-if="view==false" variant="success" @click="Add_Del(0, rowContent.index)" >
                      <b-icon icon="plus-square" />
                    </b-button>
                  </b-row>
                  <b-row v-for="(index) in images.length" :key="index" class="mt-4">
                    <b-col col lg="4" sm="12" cols="12">
                      <b-img :src="images[index-1]" fluid alt="Responsive image" />
                    </b-col>
                    <b-col col lg="7" sm="12" cols="12">
                      <b-textarea
                        id="input-url"
                        v-model="images[index-1]"
                        :disabled="view==true"
                        type="text"
                        required
                      />
                    </b-col>
                    <b-col col lg="1" sm="12" cols="12">
                      <b-button v-if="view==false" class="mt-2 text-center" variant="danger" @click="Add_Del(1, index-1)">
                        <b-icon icon="trash"/>
                      </b-button>
                    </b-col>
                  </b-row>
                </b-container>
              </b-form-group>

              <b-form-group
                id="input-group-4"
                :label="$t('category')+':'"
                label-for="input-category"
              >
                <b-form-select v-model="category" :disabled="view==true">
                  <template #first>
                    <b-form-select-option :value="{}" disabled>
                      {{$t('select_category')}}
                    </b-form-select-option>
                  </template>
                  <b-form-select-option v-for="(item,index) in categories" :key="index" :value="item">
                    {{ item.name }}
                  </b-form-select-option>
                </b-form-select>
              </b-form-group>
              <b-button v-if="view==false" type="submit" variant="success" class="float-right">Update product</b-button>
            </b-form>
            <template #modal-footer={cancel}>
              <b-button @click="cancel()" variant="danger">
                Cancel
              </b-button>
            </template>
          </b-modal>
        </template>
      </b-table>
    </b-row>
  </b-container>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
import Alerts from '~/helpers/Alerts'
export default Vue.extend({
  data () {
    return {
      view: false,
      filter_title: '',
      filter_price_min: '',
      filter_price_max: '',
      filter_category: '',
      id: '',
      title: '',
      description: '',
      price: '',
      images: [],
      category: {},
      fields: [
        {
          key: 'title',
          label: 'Title'
        },
        {
          key: 'price',
          label: 'Price'
        },
        {
          key: 'description',
          label: 'Description'
        },
        {
          key: 'creationAt',
          label: 'Creation At'
        },
        {
          key: 'updatedAt',
          label: 'Updated At'
        },
        {
          key: 'category',
          label: 'Category'
        },
        {
          key: 'options',
          label: ''
        }
      ]
    }
  },
  computed: {
    ...mapGetters('products', {
      products: 'Getproducts'
    }),
    ...mapGetters('category', {
      categories: 'Getcategories'
    })
  },
  mounted () {
    this.Get_products({})
    this.Get_All_categories()
  },
  methods: {
    ...mapActions('products', {
      Get_products: 'Get_products',
      Update_product: 'Update_product',
      Delete_product: 'Delete_product',
      Create_product: 'Create_product',
      Filter_products: 'Filter_products'
    }),
    ...mapActions('category', {
      Get_All_categories: 'Get_All_categories'
    }),
    OpenModal: function (item : any, option: number) {
      switch (option) {
        case 0:
          this.view = false
          this.id = item.id
          this.title = item.title
          this.price = item.price
          this.description = item.description
          this.images = item.images.map((x: string) => x)
          this.category = Object.assign({}, item.category)
          this.$bvModal.show('products-' + item.id)
          break
        case 1:
          this.view = true
          this.id = item.id
          this.title = item.title
          this.price = item.price
          this.description = item.description
          this.images = item.images.map((x: string) => x)
          this.category = Object.assign({}, item.category)
          this.$bvModal.show('products-' + item.id)
          break
        case 3:
          this.view = false
          this.id = ''
          this.title = ''
          this.price = ''
          this.description = ''
          this.images = []
          this.category = {}
          this.$bvModal.show('products-create')
          break
      }
    },
    onSubmit: function (e: Event) {
      e.preventDefault()
      this.Update_product({
        id: this.id,
        title: this.title,
        price: this.price,
        description: this.description,
        images: this.images,
        category: this.category
      }).then((result) => {
        if (result === 200) {
          Alerts.success('Updated')
          this.Get_products({ from: 0, to: this.per_page })
          this.$bvModal.hide('products-' + this.id)
        }
      })
    },
    Send_product: function (e: Event) {
      e.preventDefault()
      this.Create_product({
        id: this.id,
        title: this.title,
        price: this.price,
        description: this.description,
        images: this.images,
        categoryId: this.category.id
      }).then((result) => {
        if (result === 201) {
          Alerts.success('Product created')
          this.Get_products({ from: 0, to: this.per_page })
          this.$bvModal.hide('products-create')
        }
      })
    },
    Add_Del: function (use: number, index: number) {
      switch (use) {
        case 0:
          this.images.push('Add the url')
          break
        case 1:
          this.images.splice(index, 1)
          break
      }
    },
    Delete: function (id: number) {
      Alerts.question(this.$t('message_delete'), this.$t('cancel'), this.$t('confirm')).then((result: string) => {
        if (result === 'OK') {
          this.Delete_product({ id }).then((result2: boolean) => {
            if (result2) {
              Alerts.success('Successfully deleted')
              this.Get_products({ from: 0, to: this.per_page })
            }
          })
        }
      })
    },
    Filter: function () {
      this.Filter_products({ title: this.filter_title, price_min: this.filter_price_min, price_max: this.filter_price_max, categoryId: this.filter_category })
    },
    Delete_Filter: function () {
      this.filter_title = ''
      this.filter_price_min = ''
      this.filter_price_max = ''
      this.filter_category = ''
      this.Filter_products({ title: this.filter_title, price_min: this.filter_price_min, price_max: this.filter_price_max, categoryId: this.filter_category })
    }
  }
})
</script>
