@media (min-width: 2061px){
  .hd {
      flex: 0 0 15% !important;
      max-width: 15% !important;
  }
}
@media (max-width: 2060px){
  .hd {
      flex: 0 0 20% !important;
      max-width: 20% !important;
  }
}

@media (max-width: 1562px){
  .hd {
      flex: 0 0 25% !important;
      max-width: 25% !important;
  }
}

@media (max-width: 1262px){
  .hd {
      flex: 0 0 30% !important;
      max-width: 30% !important;
  }
}
@media (max-width: 1105px){
  .hd {
      flex: 0 0 35% !important;
      max-width: 35% !important;
  }
}
@media (max-width: 955px){
  .hd {
      flex: 0 0 40% !important;
      max-width: 40% !important;
  }
}
@media (max-width: 845px){
  .hd {
      flex: 0 0 45% !important;
      max-width: 45% !important;
  }
}
@media (max-width: 780px){
  .hd {
      flex: 0 0 58% !important;
      max-width: 58% !important;
  }
}
@media (max-width: 690px){
  .hd {
      flex: 0 0 65% !important;
      max-width: 65% !important;
  }
}
@media (max-width: 550px){
  .hd {
      flex: 0 0 85% !important;
      max-width: 85% !important;
  }
}
@media (max-width: 433px){
  .hd {
      flex: 0 0 95% !important;
      max-width: 95% !important;
  }
}
@media (max-width: 395px){
  .hd {
      flex: 0 0 105% !important;
      max-width: 105% !important;
  }
}
