<template>
  <div class="w-100">
    <b-navbar class="w-100 position-fixed" style="z-index:100" toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand>
        <Nuxt-Link :to="'/' + ($cookies.get('language') === 'es' ? '' : $cookies.get('language') + '/') + 'home'" class="text-white">
          {{$t('App')}}
        </Nuxt-Link>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse" />

      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item>
            <b-button v-b-toggle.sidebar-right toggle-class="text-decoration-none">
              <b-icon icon="cart" />
              <b-badge variant="light">
                {{ notification }}
              </b-badge>
            </b-button>
            <b-sidebar id="sidebar-right" style="width:350px" title="Carrito" right shadow>
              <b-container fluid class="mt-4">
                <b-row class="w-100"  v-for="(item,index) in cart" :key="index">
                  <b-col xl="8">
                    <b-container fluid>
                      <b-row class="w-100">
                        <strong>{{ $t('title') }}:</strong>
                      </b-row>
                      <b-row class="w-100">
                        {{ item.title }}
                      </b-row>
                      <b-row>
                        <strong>{{ $t('price') }}:</strong>
                        {{ item.price }}
                      </b-row>
                    </b-container>
                  </b-col>
                  <b-col xl="3" class="p-0">
                    <b-form-input v-model="item.amount"/>
                  </b-col>
                  <b-col xl="1" class="p-0">
                    <b-button @click="Delete_cart_item(index)" variant="danger" class="ml-2">
                      x
                    </b-button>
                  </b-col>
                  <hr class="w-100"/>
                </b-row>
                <b-row class="w-100">
                  <b-col xl="12">
                    <strong>
                      {{ $t('total')+ ': '+total }}
                    </strong>
                  </b-col>
                </b-row>
                <b-row class="w-100 mt-2">
                  <b-col xl="12">
                    <b-button @click="Update_price(cart)" class="float-right" variant="success">
                      {{ $t('update_cart') }}
                    </b-button>
                  </b-col>
                </b-row>
              </b-container>
            </b-sidebar>
          </b-nav-item>
          <b-nav-item v-if="role=='admin'" class="mt-1">
            <NuxtLink class="text-white" :to="'/' + ($cookies.get('language') === 'es' ? '' : $cookies.get('language') + '/') + 'admin'">
              {{$t('Admin')}}
            </NuxtLink>
          </b-nav-item>
          <b-nav-item-dropdown class="text-white" right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <b-avatar variant="info" :src="avatar"/>
              <em>{{name}}</em>
            </template>
            <b-dropdown-item @click="Logout">
              {{$t('sign_out')}}
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-media class="w-100 h-100 overflow-auto">
      <slot :Update_cart="Update_cart" />
    </b-media>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'
export default Vue.extend({
  data () {
    return {
      name: '',
      avatar: '',
      role: '',
      cart: []
    }
  },
  computed: {
    availableLocales () {
      return this.$i18n.locales
    },
    notification () {
      return this.cart.length
    },
    total () {
      let total = 0
      for (let i = 0; i < this.cart.length; i++) {
        total = this.cart[i].amount * this.cart[i].price + total
      }
      return total
    }
  },
  mounted () {
    this.name = this.$cookies.get('name')
    this.avatar = this.$cookies.get('avatar')
    this.role = this.$cookies.get('rol')
    if (this.$cookies.get('cart')) {
      this.cart = this.$cookies.get('cart')
    }
  },
  methods: {
    ...mapActions('auth', {
      Logout: 'logout'
    }),
    Update_cart: function (cart: Object) {
      this.cart.push(cart)
      this.$cookies.set('cart', this.cart, {
        path: '/',
        maxAge: 60 * 60 * 24 * 20
      })
    },
    Update_price: function (cart: Array) {
      this.cart = []
      this.cart = cart
      this.$cookies.set('cart', this.cart, {
        path: '/',
        maxAge: 60 * 60 * 24 * 20
      })
    },
    Delete_cart_item: function (index: number) {
      this.cart.splice(index, 1)
      this.$cookies.set('cart', this.cart, {
        path: '/',
        maxAge: 60 * 60 * 24 * 20
      })
    }
  }
})
</script>
