<template>
  <layout>
    <div class="w-100 h-100 mt-5 pt-4">
      <b-tabs content-class="mt-3">
        <b-tab :title="$t('tab_product')" active>
          <products/>
        </b-tab>
        <b-tab :title="$t('tab_categories')">
          <categories/>
        </b-tab>
      </b-tabs>
    </div>
  </layout>
</template>
<script lang="ts">
import Vue from 'vue'
import Products from '~/components/Products.vue'
import Categories from '~/components/Categories.vue'
import MainLayout from '~/layouts/MainLayout.vue'
export default Vue.extend({
  components: {
    layout: MainLayout,
    products: Products,
    categories: Categories
  },
  middleware: ['admin']
})
</script>
