<template>
  <layout>
    <template #default="{Update_cart}">
      <b-container fluid>
        <b-row class="justify-content-center mt-5" style="padding-top:80px">
          <b-pagination
            v-model="currentPage"
            class="mr-5"
            :total-rows="size_products"
            :per-page="perPage"
            :first-text="$t('first-text')"
            :prev-text="$t('prev-text')"
            :next-text="$t('next-text')"
            :last-text="$t('last-text')"
            @change="Pagination($event, 0)"
          />
          <b-form-select v-model="perPage" style="max-width:80px" @change="Pagination($event, 1)">
            <b-form-select-option v-for="(item,index) in options_perPage" :key="index" :value="item">
              {{ item }}
            </b-form-select-option>
          </b-form-select>
        </b-row>
        <b-button v-b-toggle.sidebar-1 class="position-fixed mt-2" style="right:2%; z-index:50; top: 9%;">
          <b-icon icon="filter" />
        </b-button>
        <b-sidebar width="355px" id="sidebar-1" :title="$t('Filters')" shadow>
          <div class="px-3 py-2">
            <b-container fluid>
              <b-row>
                <b-col xl="12" class="mt-3">
                  <b-form-input v-model="filter_title" :placeholder="$t('title')" />
                </b-col>
                <b-col xl="5" class="mt-3">
                  <b-form-input v-model.number="filter_price_min" :placeholder="$t('min-price')" />
                </b-col>
                <b-col xl="1" class="mt-3">
                  {{$t('to')}}
                </b-col>
                <b-col xl="5" class="mt-3">
                  <b-form-input v-model.number="filter_price_max" :placeholder="$t('max-price')" />
                </b-col>
                <b-col xl="12" class="mt-3">
                  <b-form-select v-model="filter_category">
                    <template #first>
                      <b-form-select-option :value="''" disabled>
                        {{ $t('select_category') }}
                      </b-form-select-option>
                    </template>
                    <b-form-select-option v-for="(item,index) in categories" :key="index" :value="item.id">
                      {{ item.name }}
                    </b-form-select-option>
                  </b-form-select>
                </b-col>
                <b-col xl="12" class="mt-3">
                  <b-button class="float-right" @click="Filter">
                    <b-icon icon="filter" />{{ $t('filter_label_2') }}
                  </b-button>
                  <b-button variant="danger" class="float-right mr-2" @click="Delete_Filter">
                    <b-icon icon="filter" /> {{ $t('filter_label') }}
                  </b-button>
                </b-col>
              </b-row>
            </b-container>
          </div>
        </b-sidebar>
        <b-row class="mt-2">
          <b-media-body>
            <b-container fluid class="pr-5 pl-5">
              <b-row class="justify-content-center">
                <b-col v-for="(item, index) in products_custom" :key="index"
                  class="hd card text-white bg-dark m-2 min"
                  bg-variant="dark"
                  text-variant="white"
                  style="max-height:600px; min-height:500px"
                >
                  <div class="card-header">
                    {{ item.title }}
                  </div>
                  <b-carousel
                    id="carousel-fade"
                    fade
                    indicators
                    img-width="640"
                    img-height="480"
                  >
                    <b-carousel-slide v-for="(images, index2) in item.images"
                      :key="index2+100"
                      style="max-height:200px"
                      :img-src="images"
                    />
                  </b-carousel>
                  <div class="card-body">
                    <b-container fluid>
                      {{ item.description }}
                      <hr/>
                      {{ $t('price') }}: {{ item.price }}
                    </b-container>
                  </div>
                  <div class="card-footer text-muted">
                    <b-container fluid>
                      <b-row>
                        <b-col col xl="7">
                          <b-form-spinbutton v-model="item.amount" id="demo-sb" min="1" max="100" />
                        </b-col>
                        <b-col col xl="5">
                          <b-button @click="Add_cart(item, Update_cart)" class="position-absolute" href="#" variant="success" style="bottom: 6%;">
                            <b-icon icon="cart" />
                          </b-button>
                        </b-col>
                      </b-row>
                    </b-container>
                  </div>
                </b-col>
              </b-row>
            </b-container>
          </b-media-body>
        </b-row>
      </b-container>
    </template>
  </layout>
</template>
<script lang="ts">
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
import MainLayout from '~/layouts/MainLayout.vue'
export default Vue.extend({
  components: {
    layout: MainLayout
  },
  middleware: 'authenticated',
  data () {
    return {
      currentPage: 1,
      options_perPage: [10, 25, 50, 100],
      perPage: 10,
      filter_title: '',
      filter_price_min: '',
      filter_price_max: '',
      filter_category: '',
      size_products: 0,
      cart: []
    }
  },
  computed: {
    ...mapGetters('products', {
      products: 'Getproducts'
    }),
    ...mapGetters('category', {
      categories: 'Getcategories'
    }),
    products_custom () {
      // eslint-disable-next-line camelcase
      const products_c = []
      for (let i = 0; i < this.products.length; i++) {
        // eslint-disable-next-line camelcase
        products_c.push(this.products[i])
        // eslint-disable-next-line camelcase
        products_c[i].amount = 1
      }
      // eslint-disable-next-line camelcase
      return products_c
    }
  },
  mounted () {
    this.Get_products({}).then(() => {
      this.size_products = this.products.length
      this.options_perPage.push(this.products.length)
      this.Pagination(1, 0)
    })
    this.Get_All_categories({})
  },
  methods: {
    ...mapActions('products', {
      Get_products: 'Get_products',
      Filter_products: 'Filter_products'
    }),
    ...mapActions('category', {
      Get_All_categories: 'Get_All_categories'
    }),
    Filter: function () {
      this.Filter_products({ title: this.filter_title, price_min: this.filter_price_min, price_max: this.filter_price_max, categoryId: this.filter_category }).then(() => {
        this.size_products = this.products.length
        this.options_perPage = [10, 25, 50, 100]
        this.options_perPage.push(this.products.length)
      })
    },
    Delete_Filter: function () {
      this.Get_products({}).then(() => {
        this.filter_title = ''
        this.filter_price_min = ''
        this.filter_price_max = ''
        this.filter_category = ''
        this.size_products = this.products.length
        this.options_perPage.push(this.products.length)
      })
    },
    Pagination: function (Page: number, type: number) {
      let offset = 0
      if (type === 0) {
        offset = (Page === 1 ? 0 : Page - 1) * this.perPage
      } else {
        offset = 0
        this.currentPage = 1
      }
      // eslint-disable-next-line
      this.Filter_products({ title: this.filter_title, price_min: this.filter_price_min, price_max: this.filter_price_max, categoryId: this.filter_category, offset, limit: this.perPage }).then(() => {

      })
    },
    // eslint-disable-next-line camelcase
    Add_cart: function (item: Object, Update_cart: any) {
      Update_cart(item)
    }
  }
})
</script>
<style scoped>
.min{
  min-height: 300px;
}
</style>
