<template>
  <div class="w-100 vh-100 jumbotron pt-0 pb-0 mt-0 mb-0 ">
    <b-row class="justify-content-end p-0 m-0">
      <b-dropdown dropleft :text="$t('Lang')" class="m-2">
        <b-dropdown-item @click="Change_language(item.code)"  v-for="(item, index) in availableLocales" :key="index">
          {{ item.name }}
        </b-dropdown-item>
      </b-dropdown>
    </b-row>
    <b-container class="mt-0 mb-0 pt-0 pb-0" style="height:95%">
      <b-row align-v="center" class="h-100 p-0 m-0">
        <b-col>
          <b-card class="maximo" bg-variant="dark" :header="$t('Login')" text-variant="white">
            <b-card-text>
              <b-form @submit="Submit">
                <b-form-group
                  id="input-group-1"
                  :label="$t('Email')"
                  label-for="input-1"
                >
                  <b-form-input
                    id="input-1"
                    v-model="email"
                    type="email"
                    :placeholder="$t('Email_label')"
                    required
                  />
                </b-form-group>

                <b-form-group id="input-group-2" :label="$t('Password')" label-for="input-2">
                  <b-form-input
                    id="input-2"
                    v-model="password"
                    type="password"
                    :placeholder="$t('Password_label')"
                    required
                  />
                </b-form-group>
                <b-button class="float-right" variant="success" @click="Submit">
                  {{$t('Login')}}
                </b-button>
              </b-form>
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions } from 'vuex'
import Alerts from '../helpers/Alerts'

export default Vue.extend({
  name: 'LoginPage',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  computed: {
    availableLocales () {
      return this.$i18n.locales
    }
  },
  mounted () {
    if (this.$cookies.get('language') === undefined) {
      this.$cookies.set('language', this.$i18n.defaultLocale, {
        path: '/',
        maxAge: 60 * 60 * 24 * 20
      })
    }
  },
  methods: {
    ...mapActions('auth', {
      Login: 'Login'
    }),
    Submit: function () {
      this.Login({ email: this.email, password: this.password }).then((result) => {
        if (result) {
          Alerts.error('Invalid Email or Password')
        }
      })
    },
    Change_language: function (code: string) {
      this.$cookies.set('language', code, {
        path: '/',
        maxAge: 60 * 60 * 24 * 20
      })
      window.location.href = '/' + (code === 'es'? '': code)
    }
  }
})
</script>
<style>
  .maximo{
    max-width: 700px;
    margin: auto;
  }
</style>
